/* src/index.css */

/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body에 기본 스타일 적용 */
body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  background-color: #f4f4f9; /* 전체 배경색 설정 */
  font-family: Arial, sans-serif;
}

/* 전체 화면을 사용할 수 있도록 설정 */
#root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
